@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Russo+One&display=swap');
		.container {
				display: grid;
				grid-template-columns: 2fr 3fr ;
				grid-template-rows: 100px 50px auto 50px ;
				width: 100%;
				height: 80%;
		}
		
/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: white;
  text-align: center;
  font-family: 'Sigmar One', cursive;
  grid-column: span 2;
  
  
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: Black;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Sigmar One', cursive;
  font-size: 150%;
}

		#header{
				font-family: 'Russo One', sans-serif;
				background-color: purple;
				color: white;
				grid-column: span 2;
				padding: 10px;
				text-align: center;
				font-size: 45px
		}
		
		h2{
			font-family: 'Russo One', sans-serif;
			color: purple;
		}
			
		.box1 {
			font-family: 'Raleway', sans-serif;
			
			width: 100%;
			height: 70%;
			overflow-y: scroll;
		}
		
		.box2 {
			font-family: 'Raleway', sans-serif;
			width: 150%;
			height: 110%;
			padding-left: 10px;

		}
		
		img {
			width: 700px;
			height: 400px;
		}
		
			
		#bottom{
				font-family: 'Russo One', sans-serif;
				grid-column: span 2;
				background-color: purple;
				color: white;
				text-align: center;
				font-size: 45px
		}



		

		


		


			
				
		